@charset "UTF-8";

.instagram-media{
    background:rgb(185, 32, 32); border: solid 5px; border-radius:5px;
    box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); 
    margin: 20vw; max-width:400px; min-width:326px; padding:0 10px 0 10px; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);
    
    
}
div._9AhH0{
    border-color: brown;
    border: solid 10px;
}
div{
    margin: auto;
    position: relative;
    max-width:400px;
    min-width:326px;
    border: solid 5px;
    -webkit-box-orient: horizontal;
}
#tela1{
    position: absolute;
    top: 600px;
    left: 500px;
    border: solid 5px;
    border-color: aqua;
}
#tela2{
    border: solid 5px;
    border-color: brown;
    position: absolute;
    top: 600px;
    left: 500px;
    width: 200px;
}